<h1>Reserva de Sala</h1>

<table class="table table-striped scheduler">
  <thead>
    <th><%= t('.time') %></th>
    <% Week.available_days.each do |wday| %>
      <%= content_tag :th, weekday(wday) %>
    <% end %>
  </thead>

  <tbody>
    <% Week.available_hours.each do |hour| %>
      <tr>
        <%= content_tag :td, "%02d:00" % hour %>

        <% Week.available_days.each do |wday| %>
          <% # TODO: remove logic from view %>
          <% schedule = Schedule.by_day(Week.at(wday)).by_hour(hour).first %>

          <% if schedule %>
            <%= content_tag :td, schedule_label(schedule) %>

          <% else %>
            <%= content_tag :td,
              link_to("Disponível", '#'),
              class: "wday-#{wday} hour-#{hour} schedulable",
              data: { wday: wday, hour: hour } %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
