<h1>Reserva de Sala</h1>

<table class="table table-striped scheduler">
  <thead>
    <th><%= t('.time') %></th>
    <% Week.available_days.each do |wday| %>
      <%= content_tag :th, weekday(wday) %>
    <% end %>
  </thead>

  <tbody>
    <% Week.available_hours.each do |hour| %>
      <tr>
        <%= content_tag :td, "%02d:00" % hour %>

        <% Week.available_days.each do |wday| %>
          <% schedule = Schedule.by_day(
            Week.init + (wday - 1)).
            by_hour(hour) %>

          <% if schedule.any? %>
            <%= content_tag :td, content_tag(:span, "Reservado por #{schedule.first. user.name}", class: "label label-#{schedule.first.user == current_user ? 'success' : 'warning'}")  %>
          <% else %>
            <%= content_tag :td, link_to("Disponível", '#'),
              class: "wday-#{wday} hour-#{hour}",
              onclick: 'reserve(this)',
              data: { wday: wday, hour: hour } %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
function reserve(li) {
  $.post('/scheduler', $(li).data(), function(json) {
    $(li).html($('<span class="label label-success">').html(json.message));
  }, 'json');
}
</script>
</div>
