<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RoomScheduler</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body role="document">
    <div class="container" role="main">
      <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= alert %>
        </div>
      <% end %>

      <% if current_user %>
        <div class="pull-right">
          Bem Vindo <%= current_user.name %>!
          |
          <%= link_to "Sair", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
